@charset "UTF-8";
@import url("../fonts/fonts.css");
.wrapper {
  position: relative;
  overflow-x: hidden;
}

.drop-menu {
  cursor: pointer;
  display: none;
}

/*---------------------------HEADER---------------------------------*/
.scrollto a:hover {
  color: #fce38a;
  border-bottom: 2px solid #fce38a;
  padding-bottom: 6px;
}

.header {
  padding-top: 20px;
  font-family: 'Montserrat';
  /*MENU*/
  /*MENU*/
  /*BURGER-WRAPPER*/
  /*BURGER-WRAPPER*/
  /*NAVIGATION*/
  /*MENU-ELEMENTS*/
  /*MENU-ELEMENTS*/
  /*NAVIGATION*/
  /*SERVICES*/
}

.header__container {
  height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  min-width: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__more-service, .header__nav-box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-box {
  min-width: 500px;
}

.header__nav-item a {
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.header__more-service {
  min-width: 83px;
  margin-left: 50px;
}

/*SERVICES*/
/*LOGO*/
.logo {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
}

.logo_white-letters a {
  color: #ffffff;
}

/*LOGO*/
/*---------------------------HEADER---------------------------------*/
.intro, .intro a, .header, .header a {
  color: #ffffff;
}

/*-------------------------------INTRO------------------------------*/
.intro {
  background: url("../img/intro_bg.png") no-repeat center;
  background-size: cover;
  min-height: 1000px;
}

.intro__container {
  padding-top: 230px;
  padding-left: 30px;
  padding-right: 30px;
}

.intro__main {
  max-width: 800px;
  margin: 0 auto;
}

.intro__main-inner {
  margin: 0 30px;
}

.intro__main-button {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 15px 0;
  max-width: 160px;
  border: 3px solid #ffffff;
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  padding-left: 5px;
  padding-right: 5px;
}

.name {
  text-align: center;
}

.name__subtitle {
  font-family: 'KaushanScript';
  font-weight: 400;
  /*Большой текст + псевдоэлемент белого цвета*/
}

.name__subtitle_intro {
  font-size: 72px;
  line-height: 1.2;
}

.name__title {
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
}

.name__title::after {
  margin-left: auto;
  margin-right: auto;
  content: '';
  display: block;
  width: 60px;
}

.name__title_intro {
  font-size: 150px;
  line-height: 140px;
}

.name__title_intro::after {
  margin-top: 70px;
  border-bottom: 3px solid #ffffff;
}

/*-------------------------------INTRO------------------------------*/
@media (max-width: 900px) {
  .drop-menu {
    z-index: 99;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    background: #333333;
  }
  .drop-menu__nav {
    height: 50%;
  }
  .drop-menu__nav-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .drop-menu__nav-box-item a {
    color: #ffffff;
    font-family: 'Montserrat';
    text-transform: uppercase;
  }
  .drop-menu__more-service {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .drop-menu_active {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  .content-wrapper {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    z-index: 0;
  }
  .content-wrapper_active {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .header__menu {
    display: none;
  }
  .header__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .name__title_intro {
    font-size: 115px;
    line-height: 100px;
  }
  .drop-menu-btn {
    position: absolute;
    top: 10px;
    right: -45px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #333333;
  }
  .drop-menu-btn span {
    position: absolute;
    width: 50%;
    height: 4px;
    background: #333333;
    top: 50%;
    margin-top: -2px;
    left: 50%;
    margin-left: -25%;
    height: 2px;
  }
  .drop-menu-btn span::before, .drop-menu-btn span::after {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #333333;
  }
  .drop-menu-btn span::before {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  .drop-menu-btn span::after {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  .drop-menu-btn_active span::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .drop-menu-btn_active span::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .drop-menu-btn_active span {
    height: 0;
  }
}

/*burger*/
@media (max-width: 700px) {
  .name__title_intro {
    font-size: 80px;
    line-height: 84px;
  }
  .name__subtitle_intro {
    font-size: 45px;
  }
  .intro {
    min-height: 800px;
  }
  .intro__container {
    padding-top: 150px;
  }
}

@media (max-width: 530px) {
  .name__title_intro {
    font-size: 34px;
    line-height: 40px;
  }
  .name__subtitle_intro {
    font-size: 35px;
  }
  .name__title_intro::after {
    margin-top: 25px;
  }
  .intro {
    min-height: 550px;
  }
  .intro__container {
    padding-top: 100px;
  }
}

/*----------------------ABOUT US-----------------------------*/
.about-us__container {
  padding-top: 90px;
  padding-bottom: 110px;
}

.about-us__text {
  max-width: 955px;
  margin: 0 auto;
}

.about-us__galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
  width: 100%;
}

.about-us__galery-img-wrapper {
  background: #95e1d3;
}

.about-us__galery-img-wrapper:nth-child(even) {
  margin-left: 10px;
  margin-right: 10px;
}

.about-us__galery-img-inner div {
  display: none;
}

.about-us__galery-img-inner:hover {
  bottom: 10px;
  right: 10px;
}

.about-us__galery-img-inner:hover div {
  display: block;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -57.5px;
}

.about-us__galery-img-inner:hover div p {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.about-us__galery-img-inner:hover div img {
  display: block;
  margin: 0 auto;
}

.about-us__galery-img-inner:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background: -webkit-gradient(linear, left bottom, left top, from(#ecd587), to(#e58181));
  background: linear-gradient(to top, #ecd587, #e58181);
  opacity: 0.9;
}

.about-us__galery-img-inner img {
  max-width: 100%;
}

.gradient-bg-image {
  position: relative;
  display: inline-block;
}

.gradient-bg-image div {
  display: none;
}

.gradient-bg-image:hover {
  bottom: 10px;
  right: 10px;
}

.gradient-bg-image:hover div {
  display: inline-block;
  position: absolute;
  z-index: 100;
}

.gradient-bg-image:hover div img {
  /*display: block;*/
}

.gradient-bg-image:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background: -webkit-gradient(linear, left bottom, left top, from(#ecd587), to(#e58181));
  background: linear-gradient(to top, #ecd587, #e58181);
  opacity: 0.9;
}

.gradient-bg-image img {
  max-width: 100%;
}

.name__subtitle_section {
  font-size: 24px;
  line-height: 1.2;
}

.name__title_section {
  font-size: 30px;
  line-height: 1.2;
}

.name__title_section::after {
  border-bottom: 3px solid #f38181;
  margin-top: 40px;
}

.name__comment {
  margin-top: 50px;
  font-family: "Roboto";
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

@media (max-width: 650px) {
  .about-us__galery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-us__galery-img-wrapper {
    max-width: 380px;
  }
  .about-us__galery-img-wrapper:nth-child(even) {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 0;
    margin-left: 0;
  }
  .about-us__galery-img-inner:hover {
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 350px) {
  .about-us__galery {
    margin-top: 50px;
  }
}

.statistic-row {
  background: #95e1d3;
  margin-bottom: 100px;
}

.statistic-row__container {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistic-row__item {
  width: 100%;
  max-width: 240px;
  padding: 90px 0;
  text-transform: uppercase;
  font-family: Montserrat;
  color: #ffffff;
}

.statistic-row__item:nth-child(odd) {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.statistic-row__item {
  text-align: center;
}

.statistic-row__item-count {
  line-height: 1.2;
  font-size: 72px;
  font-weight: 700;
}

.statistic-row__item-title {
  line-height: 1.2;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 1100px) {
  .statistic-row__item {
    padding: 60px 0;
  }
}

@media (max-width: 730px) {
  .statistic-row__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .statistic-row__item {
    padding: 20px 0;
  }
  .statistic-row__item:nth-child(odd) {
    border-right: none;
    border-left: none;
  }
}

.service {
  padding-top: 100px;
  padding-bottom: 120px;
}

.service__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 65px;
}

.service__rows-top-row {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 50px;
}

.service__rows-bottom-row {
  padding-top: 50px;
}

.service__rows-top-row, .service__rows-bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service__rows-item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 335px;
  width: 100%;
}

.service__rows-item img {
  display: block;
  max-height: 32px;
  max-width: 32px;
}

.service__rows-item-name {
  width: 100%;
  max-width: 270px;
}

.service__rows-item-title {
  margin-bottom: 10px;
  font-family: Montserrat;
  text-transform: uppercase;
  color: #333333;
}

.service__rows-item-comment {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

@media (max-width: 1200px) {
  .service__rows {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .service__rows-top-row, .service__rows-bottom-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .service__rows-top-row {
    border: none;
    border-right: 1px solid #e5e5e5;
    padding-right: 80px;
  }
  .service__rows-bottom-row {
    padding-left: 80px;
  }
  .service__rows-item {
    min-width: 335px;
  }
  .service__rows-item:nth-child(odd) {
    padding: 30px 0;
  }
}

@media (max-width: 845px) {
  .service__rows {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .service__rows-top-row, .service__rows-bottom-row {
    border: none;
    padding: 0;
  }
}

@media (max-width: 740px) {
  .service__rows {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 350px) {
  .service__rows-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 0px;
  }
  .service__rows-item img {
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .service__rows-item-name {
    max-width: none;
  }
  .service__rows-item-name {
    text-align: center;
  }
}

.design {
  background: url("../img/design_bg.png") no-repeat center;
  background-size: cover;
}

.design__container {
  position: relative;
  min-height: 850px;
}

.design__name {
  padding-top: 100px;
}

.design__tablet-picture, .design__phone-picture {
  position: absolute;
  overflow-y: hidden;
}

.design__tablet-picture img, .design__phone-picture img {
  max-width: 100%;
  display: block;
}

.design__tablet-picture {
  max-height: 580px;
  left: 26.5%;
  bottom: 0;
}

.design__phone-picture {
  max-height: 450px;
  left: 60%;
  bottom: -8%;
}

@media (max-width: 740px) {
  .design__container {
    min-height: 750px;
  }
  .design__tablet-picture {
    max-width: 400px;
    max-height: 488px;
  }
}

@media (max-width: 590px) {
  .design__tablet-picture {
    max-width: 350px;
    max-height: 427px;
  }
}

@media (max-width: 500px) {
  .design__container {
    min-height: 650px;
  }
  .design__tablet-picture {
    max-width: 300px;
    max-height: 366px;
  }
}

@media (max-width: 430px) {
  .design__container {
    min-height: 550px;
  }
  .design__tablet-picture {
    max-width: 250px;
    max-height: 305px;
  }
}

@media (max-width: 370px) {
  .design__tablet-picture {
    left: 18.5%;
    max-width: 200px;
    max-height: 244px;
  }
}

.work {
  padding: 110px 0 0 0;
}

.work__container {
  max-width: 1200px;
}

.work__content {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__tab {
  width: 100%;
  max-width: 605px;
}

.work__tab-nav-title_active {
  display: none;
}

.work__tab-nav-item {
  border: 1px solid #e5e5e5;
  position: relative;
  max-width: 600px;
}

.work__tab-nav-item::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  display: inline-block;
}

.work__tab-nav-item:nth-child(1)::before {
  width: 30px;
  height: 30px;
  background: url("../img/icons/work_photo_icon.png");
}

.work__tab-nav-item:nth-child(2)::before {
  width: 32px;
  height: 32px;
  background: url("../img/icons/work_creative_icon.png");
}

.work__tab-nav-item:nth-child(3)::before {
  width: 32px;
  height: 32px;
  background: url("../img/icons/work_webdesign_icon.png");
}

.work__tab-nav-item ::-webkit-scrollbar {
  width: 5px;
  height: 140px;
  background-color: #f5f5f5;
  border-radius: 2.5px;
}

.work__tab-nav-item ::-webkit-scrollbar-thumb {
  width: 5px;
  height: 90px;
  background-color: #95e1d3;
  border-radius: 2.5px;
}

.work__tab-nav-item:nth-child(even) {
  margin: 10px 0;
}

.work__tab-nav-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__tab-nav-title span {
  display: block;
  position: relative;
  padding: 23px 0 23px 60px;
  font-family: Montserrat;
  text-transform: uppercase;
  color: #333333;
}

.work__tab-nav-title img {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: block;
  margin-right: 20px;
  width: 22px;
  height: 12px;
}

.work__tab-block {
  display: none;
  margin-right: 25px;
  max-height: 175px;
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  overflow-y: scroll;
}

.work__tab-block p {
  margin: 20px 0 20px 20px;
  padding-right: 25px;
}

.work__slider-wrapper {
  margin: 120px 0 100px 0;
  background: #f8f8f8;
}

.work__tab-nav-title_active img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 1210px) {
  .work__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work__content-image {
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .work__content-image {
    min-width: 0px;
  }
  .work__content-image img {
    max-width: 100%;
  }
}

.slider {
  padding: 70px 45px;
  position: relative;
  max-width: 1155px;
  margin: 0 auto;
}

.slider__item {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1010px;
  margin: 0 auto;
}

.slider__item-image {
  margin-right: 60px;
}

.slider__item-image img {
  max-width: none;
}

.slider__item-text {
  max-width: 770px;
}

.slider__item-text-citatius {
  font-family: 'Roboto';
  font-size: 22px;
  line-height: 36px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
}

.slider__item-text-author {
  position: relative;
  font-family: 'KaushanScript';
  font-size: 24px;
  line-height: 1.2;
  color: #333333;
  padding-left: 65px;
}

.slider__item-text-author::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 3px;
  position: absolute;
  background-color: #f38181;
  top: 50%;
  left: 0;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  position: absolute;
  top: 41.5%;
  font-size: 0;
  width: 12px;
  height: 22px;
  z-index: 100;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  margin-left: 15px;
  left: 0%;
  background: url("../img/icons/arrow_l.png") no-repeat;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  margin-right: 15px;
  background: url("../img/icons/arrow_r.png") no-repeat;
  right: 0%;
}

/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
@media (max-width: 780px) {
  .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider__item-image {
    margin: 0 auto;
  }
  .slider__item-text-citatius {
    line-height: 32px;
    text-align: center;
  }
  .slider__item-text-author {
    text-align: right;
  }
  .slider__item-text-author::before {
    right: 85px;
    margin-left: auto;
  }
}

@media (max-width: 660px) {
  .slider__item-text-citatius {
    font-size: 18px;
  }
}

@media (max-width: 560px) {
  .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 370px) {
  .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider__item-text-citatius {
    line-height: 20px;
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider__item-text-citatius {
    line-height: 20px;
    font-size: 10px;
  }
}

.team {
  margin-bottom: 120px;
}

.team__container {
  padding: 0 15px;
}

.team__item:nth-child(2) {
  margin: 0 30px;
}

.team__item-teamate {
  margin-top: 12px;
}

.team__item-teamate-name, .team__item-teamate-work {
  text-align: center;
}

.team__item-teamate-name {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 2.9;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}

.team__item-teamate-work {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
}

.team__image-row {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__image-wrapper {
  background: #95e1d3;
}

.team__image-inner-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 44.5%;
  left: 22.5%;
}

.team__image-inner-media a {
  margin-left: -3.4px;
  color: #f8f8f8;
  padding-top: 19px;
  padding-left: 20.5px;
  display: inline-block;
  height: 56px;
  width: 56px;
  max-width: 100%;
  background: #333333;
}

.team__image-inner-media a:hover {
  background: #1d1c1c;
}

@media (max-width: 1120px) {
  .team__image-inner-media {
    left: 18.5%;
  }
}

@media (max-width: 1000px) {
  .team__image-inner-media {
    left: 14.5%;
  }
}

@media (max-width: 910px) {
  .team__image-inner-media {
    left: 11.5%;
  }
}

@media (max-width: 870px) {
  .team__image-inner-media {
    left: 7.5%;
  }
}

@media (max-width: 825px) {
  .team__image-inner-media {
    left: 17.5%;
  }
  .team__image-inner-media a {
    padding-left: 12px;
    padding-top: 11.7px;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 750px) {
  .team__image-inner-media {
    left: 12.5%;
  }
}

@media (max-width: 670px) {
  .team__image-inner-media {
    left: 10.5%;
  }
}

@media (max-width: 650px) {
  .team__item {
    margin: 0 auto;
  }
  .team__item:nth-child(even) {
    margin: 45px auto;
  }
  .team__image-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team__image-wrapper {
    display: inline-block;
  }
  .team__image-wrapper img {
    max-height: 350px;
  }
  .team__image-inner-media a {
    padding-top: 19px;
    padding-left: 20.5px;
    width: 56px;
    height: 56px;
  }
}

.colleagues {
  margin: 115px 0;
  background: #f8f8f8;
}

.colleagues div {
  padding: 50px 0;
  margin: 0 auto;
  max-width: 1215px;
}

.our-work .masonry-container {
  max-width: 100%;
  margin-top: 100px;
}

.our-work .masonry-container__item {
  width: 25%;
  max-height: 390px;
}

.our-work .masonry-container__item:nth-child(3) {
  max-height: none;
}

.our-work__potrfolio-item {
  display: inline-block;
  width: 100%;
}

.our-work__potrfolio-item:hover {
  left: 0;
  bottom: 0;
}

.our-work__potrfolio-item-inner {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  left: 23.5%;
  top: 20%;
}

.our-work__potrfolio-item-inner {
  text-align: center;
}

.our-work__potrfolio-item-inner #par1 {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
}

.our-work__potrfolio-item-inner #par2 {
  font-family: 'Roboto';
  opacity: 0.7;
  font-size: 15px;
  line-height: 24px;
  font-weight: 200;
  font-style: italic;
  color: #ffffff;
}

.our-work__potrfolio-item-inner img {
  max-width: 100%;
}

.our-work__slider-wrapper {
  margin-top: 100px;
}

.our-work__slider-item-text-author:before {
  right: 125px;
}

@media (max-width: 1170px) {
  .our-work__potrfolio-item-inner {
    display: none;
  }
}

.clients {
  padding-top: 100px;
  padding-bottom: 130px;
  background: url("../img/clients_bg.png") no-repeat;
  background-size: cover;
}

.clients__container {
  max-width: 1120px;
  padding: 0 10px;
  margin: 0 auto;
}

.clients__rows {
  margin-top: 90px;
}

.clients__rows-column1 {
  margin-bottom: 70px;
}

.clients__rows-column1, .clients__rows-column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients__rows-column-item {
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 515px;
  width: 100%;
}

.clients__rows-column-item img {
  height: 110px;
  width: 110px;
}

.clients__rows-column-item-text {
  margin-left: 5px;
  max-width: 370px;
}

.clients__rows-column-item-text #name {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #333333;
}

.clients__rows-column-item-text #work {
  margin-top: 15px;
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #333333;
}

.clients__rows-column-item-text #work::after {
  margin-top: 15px;
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.clients__rows-column-item-text #comment {
  margin-top: 25px;
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

@media (max-width: 780px) {
  .clients__rows-column1 {
    margin: 0;
  }
  .clients__rows-column1-item {
    margin: 20px 0;
  }
  .clients__rows-column1, .clients__rows-column2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .clients__rows-column-item {
    margin: 20px auto;
  }
}

@media (max-width: 435px) {
  .clients__rows-column-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .clients__rows-column-item img {
    display: block;
    margin: 0 auto;
  }
  .clients__rows-column-item-text {
    margin: 0;
    max-width: none;
  }
  .clients__rows-column-item #name {
    text-align: center;
  }
  .clients__rows-column-item #work {
    text-align: center;
  }
  .clients__rows-column-item #work::after {
    margin: 0 auto;
  }
  .clients__rows-column-item #comment {
    text-align: center;
  }
}

.blog {
  padding: 115px 0;
}

.blog__container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.blog__row {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__block {
  max-width: 380px;
}

.blog__block:nth-child(2) {
  margin: 0 20px;
}

.blog__block-image {
  position: relative;
  display: block;
}

.blog__block-image div {
  left: -10px;
  bottom: 10px;
  padding: 15px;
  position: absolute;
  width: 60px;
  height: 70px;
  background-color: #95e1d3;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}

.blog__block-image span {
  opacity: 0.7;
  display: block;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}

.blog__block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.blog__block-text::after {
  margin-top: 20px;
  display: block;
  content: '';
  height: 1px;
  background-color: #e5e5e5;
}

.blog__block-text #name {
  margin: 20px 0;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #333333;
}

.blog__block-text #comment {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

.blog__block-account a {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
}

.blog__block-account #views {
  margin-right: 18px;
}

.blog__block-account #views::before {
  margin-right: 8px;
  display: inline-block;
  content: '';
  background: url("../img/icons/blog_eye_icon.png") no-repeat;
  width: 20px;
  height: 12px;
}

.blog__block-account #comment::before {
  margin-right: 8px;
  display: inline-block;
  content: '';
  background: url("../img/icons/blog_comment_icon.png") no-repeat;
  width: 16px;
  height: 14.5px;
}

@media (max-width: 650px) {
  .blog__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog__block {
    margin: 0 auto;
  }
  .blog__block:nth-child(2) {
    margin: 60px auto;
  }
}

.map {
  position: relative;
}

.map a {
  top: 50%;
  margin-top: -43px;
  left: 50%;
  margin-left: -70px;
  display: block;
  max-width: 140px;
  font-family: Montserrat;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f38181;
  position: absolute;
  z-index: 100;
}

.map a::before {
  width: 20px;
  height: 26px;
  margin: 5px auto;
  display: block;
  content: '';
  background: url("../img/icons/map_icon.png") no-repeat;
  background-size: cover;
}

.map a::after {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 20px auto;
  display: block;
  content: '';
}

.map__inner:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../img/map_bg.png") no-repeat;
}

.map_active a {
  display: none;
}

.map_active__inner_active:before {
  display: none;
}

.map_active iframe {
  height: 500px;
}

.map_active a {
  display: none;
}

.map_active div::before {
  display: none;
}

.footer__container {
  max-width: 1200px;
}

.footer__block-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0;
}

.footer__sub {
  max-width: 480px;
}

.footer__sub-info {
  margin-bottom: 48px;
}

.footer__sub-info #title {
  margin-bottom: 38px;
  font-family: Montserrat;
  font-size: 46px;
  font-weight: 700;
  color: #cccccc;
}

.footer__sub-info #comment {
  max-width: 465px;
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

.footer__sub-followers #followers {
  font-family: Montserrat;
  font-size: 18px;
  color: #333333;
}

.footer__sub-followers #followers span {
  font-weight: 700;
}

.footer__sub-followers #followers::after {
  margin-top: 18px;
  content: '';
  display: block;
  width: 480px;
  height: 1px;
  background-color: #e5e5e5;
}

.footer__sub-followers #follow-us {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
}

.footer__sub-followers #follow-us p {
  margin-right: 20px;
}

.footer__sub-followers #follow-us div {
  min-width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__sub-followers #follow-us div a {
  display: block;
}

.footer__sub-followers #follow-us div a img {
  vertical-align: middle;
}

.footer__sub-form {
  margin-top: 36px;
  height: 40px;
}

.footer__sub-form input, .footer__sub-form button {
  height: 100%;
}

.footer__sub-form input {
  max-width: 230px;
  border: 1px solid #e7e7e7;
  padding-left: 15px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #cccccc;
}

.footer__sub-form button {
  margin: -3px;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  width: 150px;
  background-color: #95e1d3;
}

.footer #adapt-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__blogs {
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__blogs #title {
  font-family: Montserrat;
  text-transform: uppercase;
  padding: 6px 0;
  color: #333333;
}

.footer__blogs-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 300px;
  height: 100%;
}

.footer__blogs-item {
  min-width: 340px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__blogs-item-text {
  margin-top: auto;
  max-width: 206px;
}

.footer__blogs-item-text a {
  display: block;
}

.footer__blogs-item-text #title {
  font-weight: 600;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #333333;
}

.footer__blogs-item-text #date {
  font-family: Roboto;
  font-size: 13px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
}

.footer__inst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__inst #title {
  padding: 6px 0;
  font-family: Montserrat;
  text-transform: uppercase;
  color: #333333;
}

.footer__inst-img-block {
  max-width: 270px;
}

.footer__inst-img-block div {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1px 0;
}

.footer__inst-img-block a {
  margin: 0 1px;
  display: block;
}

.footer__inst-img-block #view {
  margin-top: 20px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
  color: #333333;
}

.footer__block-2 {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #e5e5e5;
}

.footer__block-2 p {
  line-height: 67px;
  height: 60px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}

.footer__block-2 a {
  color: #f38181;
}

@media (max-width: 1140px) {
  .footer__block-1 {
    display: block;
  }
  .footer__blogs {
    margin: 0 20px 0 0;
  }
  .footer__sub {
    margin: 0 auto;
    max-width: 480px;
  }
  .footer__sub-info {
    margin-bottom: 48px;
  }
  .footer__sub-info #title {
    text-align: center;
  }
  .footer__sub-info #comment {
    text-align: center;
  }
  .footer__sub-followers #followers {
    text-align: center;
  }
  .footer__sub-followers #follow-us {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__sub-form {
    text-align: center;
  }
  .footer #adapt-div {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
}

@media (max-width: 750px) {
  .footer #adapt-div {
    display: block;
    margin: 0 auto;
    max-width: 330px;
  }
  .footer__sub-form button {
    max-width: 140px;
  }
  .footer__sub-form input {
    max-width: 140px;
  }
  .footer__blogs {
    margin: 70px 0;
  }
  .footer__blogs #title {
    text-align: center;
  }
  .footer__blogs-item {
    margin: 15px 0;
    max-width: 330px;
  }
  .footer__inst {
    max-width: 330px;
  }
  .footer__inst #title {
    padding: 15px 0;
    text-align: center;
  }
  .footer__inst-img-block {
    margin: 0 auto;
  }
}

@media (max-width: 360px) {
  .footer__blogs-item {
    min-width: 0;
  }
  .footer__blogs-item-text {
    margin-left: 10px;
  }
}
