@charset "UTF-8";


/*Montserrat*/
@font-face {
	font-family: 'Montserrat';
	src: local("☺️"), url("../fonts/Montserrat/montserratbold.woff") format("woff"), url("../fonts/Montserrat/montserratbold.ttf") format("truetype");
	font-weight:bold;
	font-style:normal;
}
@font-face {
	font-family: 'Montserrat';
	src: local("☺️"), url("../fonts/Montserrat/montserrat.woff") format("woff"), url("../fonts/Montserrat/montserrat.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}


/*Roboto*/
@font-face {
	font-family: 'Roboto';
	src: local("☺️"), url("../fonts/Roboto/Roboto-Regular.ttf")format("truetype"); 
	font-weight:normal;
	font-style:normal;
}


/*KaushanScript*/
@font-face {
	font-family: 'KaushanScript';
	src: local("☺️"), url("../fonts/KaushanScript/KaushanScript-Regular.otf"); 
	font-weight:normal;
	font-style:normal;
}